<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Birthday Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="login-page">

<div class="login-box">

<h1>🎂 Birthday Surprise</h1>

<p>Enter Access Code</p>

<form method="POST">

<input
type="password"
name="code"
placeholder="Access Code"
required>

<button type="submit">
Unlock 🎁
</button>

</form>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
